* {
    box-sizing: border-box;
}


body {
    margin: 0;
    margin-bottom: 50px;
    padding: 0 10%;
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(162, 162, 162), rgb(214, 214, 214));
}

a,
button {
    color: inherit;
    text-decoration: none;
}